*
    box-sizing: border-box

html
    scroll-behavior: smooth

.container
    max-width: 1110px
    margin: 0 auto

.utp
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 65px
    margin-bottom: 97px
    &-title
        +bold
        font-size: 30px
    &-descr
        max-width: 450px
        +reg
        font-size: 13px
        line-height: 17px
    
.utp-button
    margin-top: 20px

.utp-button
    width: 234px
    background-color: #D90B23
    box-shadow: 0px 4px 20px rgba(217, 11, 35, 0.35)
    border: none
    +bold
    font-size: 18px
    text-align: center
    cursor: pointer
    padding: 14px 30px
    text-decoration: none
    &:focus
        outline: none

.title-block
    +h2
    margin-top: 70px
    margin-bottom: 30px
    text-align: center

.cards
    display: flex
    flex-wrap: wrap
    justify-content: center

.card
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 350px
    height: 370px
    background-color: #ffffff
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15)
    padding: 30px
    margin: 0 10px 0 10px
    margin-bottom: 30px
    &-img
        width: 290px
    &__title
        +bold
        color: #2d2d2d
        font-size: 15px
        text-transform: uppercase
        margin: 20px 0 15px 0
    &__descr
        +light
        color: #2d2d2d
        font-size: 15px
        margin: 0 0 15px 0

.price
    +bold
    font-size: 13px
    color: #2d2d2d
    margin: 0
    text-transform: uppercase

.uah
    +reg
    font-size: 13px
    color: #2d2d2d
    margin: 0 0 0 10px

.burger
    &-menu
        display: none
        cursor: pointer
    &__item
        width: 40px
        height: 8px
        background-color: #ffffff
        margin: 8px 0 8px 0
    &-close
        display: none
        position: absolute
        width: 40px
        height: 40px
        right: 0
        margin-bottom: 3px
        &__item
            position: absolute
            width: 40px
            height: 8px
            background-color: #ffffff
            &:first-child
                transform: rotate(45deg)
            &:last-child
                transform: rotate(-45deg)

.owl-theme .owl-dots .owl-dot, .owl-prev, .owl-next
    outline: none

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next
    &:hover
        background-color: #fff

.owl-prev
    position: absolute
    bottom: 46%
    left: -55px

.owl-next
    position: absolute
    bottom: 46%
    right: -55px